body.home_page {
    background-color: #4fa3ff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Translucent background effect */
.translucent {
    background-color: rgba(255, 255, 255, 0.569); /* White with 80% opacity */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.323);
    color: #333; /* Dark color for text readability */
}

header {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Subtle shadow for better readability */

}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

main {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
    align-items: flex-start;
}

#weather-section {
    flex: 3;
    margin-right: 20px;
}

#weather-options {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#weather-options label {
    font-size: 16px;
    color: white;
}

#weather-options input[type="text"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 80px;
}

#weather-options button {
    padding: 8px 12px;
    background-color: #44a9cad8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
    transition: background-color 0.3s ease;
}

#forecast-buttons {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

#forecast-buttons button {
    padding: 8px 12px;
    background-color: #44a9cad8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
}

.weather-container {
    background-color: #f0f4f7;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.hour-block, .day-block {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

#form-container,
.widget {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
}

.widget {
    max-width: 300px; /* Set a fixed width for widgets to keep them smaller */
}

#form-container h3, .widget h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

#form-container input[type="text"],
#form-container input[type="tel"],
#form-container input[type="time"] {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#form-container button {
    padding: 10px 15px;
    background-color: #44a9cad8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
